.account {
  .account-tab1 {
    li {
      width: 50%;
    }
  }
}
.account-owner {
  margin: 1rem;
  border: 1px solid #e5e6e4;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  p {
    padding: 1rem;
    margin-bottom: 0;
    background-color: white;
    strong{
      font-weight: bolder;
    }
  }
  .title {
    background-color: #e9e9e9;
    text-align: center;
    color: #333333;
    font-size: 1.8rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .account-panel{
    width: 100%;
    height: 56px;
    line-height: 56px;
    padding-left: 1rem;
    padding-right: 1rem;
    color:#7a7a7a;
    float: left;
    border-bottom: 1px solid #f5f2f2;
    .icon{
      margin-right: 0.5rem;
      float: left;
      img{
        width: 20px;
        height: 22px;
        margin-top: 15px;
      }
    }
    .title-text{
      float: left;
      font-size: 1.6rem;
    }
    .more{
      float: right;
      font-size: 1.4rem;
    }
  }
}
.bg-accountcolor {
  div.bg-orange0 {
    background: linear-gradient(to bottom, #e4522b, #f28440);
  }
  div.main-list-temp {
    margin-bottom: 1rem;
    .pro-info ul li:nth-child(1) {
      width: 30.5%;
    }
    .pro-info ul li:nth-child(2) {
      width: 36%;
    }
  }
  .margin-t-0p6 {
    margin-top: 0.6rem;
  }
  .margin-t-0p2 {
    margin-top: 0.2rem;
  }
  background-color: #f2f2f2;
  i.line{
    height: 3.3rem;
    border-color: #ffeceb;
    top: 0.2rem;
  }
  .border-pull{
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 1.3rem;
    margin-top: 0.5rem;
  }
  .width-half {
    width: 50%;
  }
  .border-grey-t{
    border-top: 1px solid #eee;
  }
  .border-grey-b{
    border-bottom: 1px solid #eee;
  }
  .border-grey-r{
    border-right: 1px solid #eee;
  }
  .border-grey-r1{
    border-right: 1px solid #f5f2f2;
  }
  .border-grey-l{
    border-left: 1px solid #eee;
  }
  .user-choice{
    height: 50px;
    line-height: 50px;
    .vertical-line{
      height: 34px;
      margin-top: 7px;
    }
  }
  .user-choice0{
    height: 40px;
    line-height: 40px;
  }
  .title {
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    border-bottom: 1px solid #ddd;
  }
  .user-center-list{
    ul{
      .padding-t-0p2 {
        padding-top:.2rem;
      }
      .padding-t-0p3 {
        padding-top: 0.3rem;
      }
      .padding-t-0p5 {
        padding-top: .5rem;
      }
      .padding-t-0p7 {
        padding-top: .7rem;
      }
      .padding-t-0p9 {
        padding-top: 0.9rem;
      }
      li{
        margin-bottom: 0;
        //height: 65px;
        //line-height: 65px;
        text-align: center;
        width: 33%;
        padding: 2rem 0 1.8rem 0;
        img{
          margin-bottom: .9rem;
          @media(min-width: 411px) {
            width: 20%;
            margin-bottom: 1.1rem;
          }
        }
      }
    }
    @media (max-width:320px) {
      font-size: 1.7rem;
      
    }
  }

   @media (min-width:320px) {
      // .avatar{
      //   width: 22%
      // }
      .user-name{
        margin-top: 1rem;
      }
      .message-icon{
        font-size: 1.8rem;
        margin-top: -0.3rem;
      }
      .setting-icon {
        font-size: 1.8rem;
        margin-top: .8rem;
      }

    }
    @media (min-width:360px) {
      .user-name{
        margin-top: 1rem;
      }
      .message-icon{
        font-size: 2rem;
        margin-top: -0.6rem;
      }
      .setting-icon {
        font-size: 1.9rem;
      }
    }
    @media (min-width:375px) {
      .setting-icon {
        font-size: 2rem;
        margin-top: .7rem;
      }
    }
     @media (min-width:411px) {
      .setting-icon {
        font-size: 2.3rem;
        margin-top: .6rem;
      }
    }
  .message-icon {

  }
}
.ft-7a{
  color: #7a7a7a;
}
.experience-new {
  margin: 1rem;
  border: 1px solid #d6d4d4;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 1.6rem;
  background-color: white;
  p {
    // margin-bottom: 0rem;
    background-color: white;
  }
  .title {
    background-color: #e9e9e9;
    text-align: left;
    color: #333333;
    font-size: 1.8rem;
    border-bottom:1px solid #d6d4d4;
    span{
      display: inline-block;
      border-bottom: 3px solid #fd8f3f;
      padding: 0.5rem;
      margin-left:1rem;
      sup{
        background-color: #fd8f3f;
        color:white;
        border-radius: 2px;
        height: 10px;
        line-height: 8px;
        font-size: 10px;
        padding:0 2px;
        display: inline-block;
        box-sizing: border-box;
        margin-left:0.4rem;
      }
    }
  }
  .left-right{
    width: 100%;
    overflow: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    div:nth-child(1) {
      width: 49.8%;
      border-right: 1px solid #e0dede;
      text-align: center;
      float: left;

    }
    div:nth-child(2) {
      width: 49.8%;
      text-align: center;
      float: right;
    }
    img{
      width: 24px;
      height: 24px;
      margin-right:1rem;
    }
    .name-tip{
      height: 24px;
      line-height: 24px;
      display: inline-flex;
    }
  }
  .text-tip{
    height: 30px;
    line-height: 30px;
    display: inline-flex;
    font-size: 1.6rem;
    margin-left: 1.5rem;
    color: #7a7a7a;
    img{
      width: 16px;
      height: 16px;
      margin-right:0.5rem;
      margin-left: 0.5rem;
      margin-top: 7px;
    }
  }
}
.new-invment{
  width: 100%;
  overflow: auto;
  padding: 1rem;
  .input-false{
    border:1px solid #333333;
    background-color: white;
    color:#333333;
    width: 60%;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    padding-left: 1rem;
    box-sizing: border-box;
  }
  .btn-orange{
    width: 35%;
    float: left;
    margin-left:5%;
    background-color: #fd8f3f;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 2rem;
    border-radius: 0.5rem;
    text-align: center;
  }
}
.green-sup{
  width: 12px;
  height: 12px;
  line-height: 13px;
  border-radius: 50%;
  background-color: #0db219;
  color: white;
  display: inline-block;
  text-align: center;
  margin-left: 0.2rem;
}
.red-sup {
  background-color: red;
}
.orange-sup {
  background-color: #fd8f3f;
}
.grade{
  width: 100%;
  .grade-tab1 li {
    width: 1/3*100%;
    list-style: none;
    background-color: white;
    font-size: 1.6rem;
    border-bottom: 1px solid #e6e5e4;
    color: #7a7a7a;
  }
  .in{
    border-bottom: 3px solid #fd8f3f !important;
    color: #fd8f3f !important;
  }
  .grade-tab2 li {
    width: 1/2*100%;
    list-style: none;
    background-color: white;
    font-size: 1.6rem;
    color: #7a7a7a;
  }
  .grade-tab2{
    li:nth-child(1){
      text-align: right;
      padding-right: 1rem;
      border-right: 1px solid #7a7a7a;
    }
    li:nth-child(2){
      text-align: left;
      padding-left: 1rem;
    }
  }
  .insub{
    color: #fd8f3f !important;
  }

}
.minHeight{
  min-height: 650px;
}
.jiaxiquan-tab{
  margin-bottom: 3rem;
  .outer-panel{
    position: relative;
    img{
      width: 100%;
    }
    .inner-panel-left{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1/3*100%;
      text-align: center;
      color:white;
      font-size: 1.6rem;
    }
    .inner-panel-center{
      position: absolute;
      top: 10px;
      bottom: 15px;
      right: 13.66666%;
      width: 53%;
      color: #7a7a7a;
      font-size: 1.4rem;
      border-right:1px solid #fd8f3f;
      text-align: left;
    }
    .inner-panel-center1{
      position: absolute;
      top: 10px;
      bottom: 15px;
      right: 13.66666%;
      width: 53%;
      color: #7a7a7a;
      font-size: 1.4rem;
      border-right:1px solid #ddd;
      text-align: left;
    }
    .inner-panel-right{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 13.66666%;
      font-size: 1.8rem;
      color: #fd8f3f;
      font-weight: bolder;
      span{
        display: block;
        text-align: center;
        font-weight: bold;
      }
    }
    .inner-panel-right1{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 13.66666%;
      font-size: 1.8rem;
      color: #BEBEBD;
      font-weight: bolder;
      span{
        display: block;
        text-align: center;
        font-weight: bold;
      }
    }
    .inner-model-center{
      position: absolute;
      top: 10px;
      bottom: 15px;
      right: 19.66666%;
      width: 43%;
      color: #7a7a7a;
      font-size: 1.4rem;
      text-align: left;
      white-space: nowrap;
    }
    .inner-model-right{
      position: absolute;
      bottom: 7px;
      right: 9%;
      width: 14.66666%;
    }
    @media (min-width:320px){
      .middle-margin{
        margin-bottom: 1rem;
      }
      .top-margin{
        margin-bottom: 0rem;
        margin-top: 1rem;
      }
      .model-margin{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
      }
      .inner-model-center{
        font-size: 1.2rem;
      }
      .inner-panel-center,.inner-panel-center1{
        font-size: 1.35rem;
      }
      .inner-panel-right{
        margin-top: 7px;
        span{
          height: 20px;
          font-size: 1.4rem;
        }
      }
      .inner-panel-right1{
        margin-top: 15px;
        span{
          height: 20px;
          font-size: 1.4rem;
        }
      }
    }
    @media (min-width:375px){
      .middle-margin{
        margin-bottom: 2rem;
      }
      .top-margin{
        margin-bottom: 0.5rem;
        margin-top: 2rem;
      }
      .inner-panel-center,.inner-panel-center1{
        font-size: 1.6rem;
      }
      .inner-panel-right{
        margin-top: 16px;
        span{
          height: 20px;
          font-size: 1.6rem;
        }
      }
      .inner-panel-right1{
        margin-top: 25px;
        span{
          height: 20px;
          font-size: 1.6rem;
        }
      }
      .model-margin{
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.6rem;
      }
      .inner-model-center{
        font-size: 1.4rem;
      }
    }
    @media (min-width:414px){
      .middle-margin{
        margin-bottom: 2.5rem;
      }
      .top-margin{
        margin-bottom: 0.5rem;
        margin-top: 2.5rem;
      }
      .inner-panel-right{
        margin-top: 16px;
        span{
          height: 20px;
          font-size: 1.8rem;
        }
      }
      .model-margin{
        margin-top: 1.8rem;
        margin-bottom: 0.5rem;
        font-size: 1.8rem;
      }
      .inner-model-center{
        font-size: 1.6rem;
      }
    }
  }
}
// 体验金使用记录提取公用
.tiyanjin-tab{
    width: 100%;
    border-radius: 0.5rem;
    border:1px solid #d6d4d4;
    overflow: auto;
    overflow-y: hidden;
    .use-list-title{
      background-color: #e9e9e9;
      font-size: 1.8rem;
      color: #333333;
      text-align: center;
      padding: 1rem;
    }
    .use-list-head{
      border-top:1px solid #e6e5e4;
      color: #7a7a7a;
      font-size: 1.6rem;
      background-color: white;
      padding-top: 1rem;
      padding-bottom: 1rem;
      overflow: auto;
      .list-cell{
        width: 1/3*100%;
        display:table-cell;
        float: left;
        text-align: center;
      }
      .list-cell-title{
        width: 2/3*100%;
        display:table-cell;
        float: left;
        text-align: center;
      }
    }
    .account-panel{
      width: 100%;
      height: 56px;
      line-height: 56px;
      padding-left: 1rem;
      padding-right: 1rem;
      color:#7a7a7a;
      float: left;
      border-bottom: 1px solid #e6e5e4;
      .icon{
        margin-right: 1rem;
        float: left;
        img{
          width: 22px;
          height: 22px;
          margin-top: 15px;
        }
      }
      .title-text{
        float: left;
        font-size: 1.6rem;
      }
      .more{
        float: right;
        font-size: 1.4rem;
        margin-right: 2rem;
      }
    }
  }
// 体验金头部样式
.experience-header {
  height: 82px;
  width: 100%;
  background: linear-gradient(to bottom, #e4532b, #f28340);
  background-size: 100%;
  p:first-child{
    font-size: 1.3rem;
    margin-top: 1.2rem;
    margin-bottom: 0.2rem;
  }
  p:last-child{
    font-size: 2.5rem;
  }
  button {
    margin-top: 3rem;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    background-color: #F9A371;
    font-weight: normal;
    font-size: 1.5rem;
    color: #fff;
    border: 0;
    border-radius: .5rem;
  }
}
@media (min-width:360px) {
  .experience-header {
    height: 95px;
    p:first-child{
      font-size: 1.3rem;
      margin-top: 1.8rem;
      margin-bottom: 0.2rem;
    }
    p:last-child{
      font-size: 2.5rem;
    }
    button {
      margin-top: 3.8rem;
      padding: 0 20px;
      height: 30px;
      line-height: 30px;
      font-size: 1.5rem;
    }
  }
}
@media (min-width:411px) {
  .experience-header {
    height: 105px;
    p:first-child{
      font-size: 1.4rem;
      margin-top: 1.8rem;
      margin-bottom: 0.2rem;
    }
    p:last-child{
      font-size: 3rem;
    }
    button {
      margin-top: 4rem;
      padding: 0 30px;
      height: 38px;
      line-height: 38px;
      font-size: 1.6rem;
    }
  }
}

//我的邀请
.ivt-rebate {
  span.color-change {
    color: #e96233;
  }
  .ivt-wrap {
    background-image: linear-gradient(#e6542b,#fa8734);
    padding-top: 5.5rem;
    p.count {
      font-size: 5rem;
      position: absolute;
      z-index: 100;
      width: 100%;
      top: 2.2rem;
    }
    ul {
      background-color: #f68738;
      li {
        width: 49%;
        display: inline-block;
        p {
          margin-bottom: 0;
          text-align: center;
          line-height: 2rem;
        }
        i {
          width: 1px;
          height: 4rem;
          float: right;
          background: #fac39c;
          margin-top: -4.5rem;
        }
      }
      li:first-child {
        border-right: 1px silid #fbc49d;
      }
    }
    .circle-bg-wrap {
      height: 5rem;
      overflow: hidden;
      .circle-bg {
        border-radius: 93%;
        height: 15rem;
        position: absolute;
        width: 107%;
        background-image: linear-gradient(#f9912e, #ef793c); 
        left: -3.5%;
        p {
          margin-top: 2.8rem;
        }
      }
    }
    
  }
  .ivt-tip-wrap {
    .ivt-tip {
      padding-bottom: 1.2rem;
      p:first-child {
        text-align: center;
        color: #666;
        padding: 1.8rem 0 1.6rem;
        margin-bottom: 0;
        font-size: 1.4rem;
        @media(min-width: 375px) {
          font-size: 1.5rem;
        }
      }
      p:nth-child(2),p:nth-child(3) {
        width: 50%;
        height: 5rem;
        text-align: center;
        line-height: 5rem;
        margin: 0 auto;
        background: #fff004;
        color: #a55715;
        border-radius: .5rem;
        font-size: 2rem;
      }
    }
  }
  .ivt-rebate-share {
    .share-wrap {
      width: 100%;
      bottom: 0;
      padding: 1.1rem 0 0 0;
      .share-head {
        padding-left: 1.5rem;
        padding-bottom: 1.1rem;
        border-bottom: 1px solid #eee;
        font-size: 1.6rem;
      }
      .share-ways,.share-words {
        padding-top: 1.8rem;
        display: flex;
        justify-content: space-around;
        img {
          border: 1px solid #ddd;
          border-radius: .4rem;
        }
      }
      .share-words {
        padding: 0.5rem 0;
        p {
          width: 16%;
          text-align: center;
          font-size: 1.2rem;
          @media(min-width: 370px) {
            font-size: 1.3rem;
          }
        }
      }
      .cancle {
        color: #a1a1a1;
        height: 3.5rem;
        line-height: 3.5rem;
        background-color: #fff;
        margin-top: 1rem;
      }
    }
  }
}
  
//受邀请好友列表
.invite-rebate-list {
  ul {
    li {
      padding: 1rem 0; 
      margin: 0;
      width: 100%;  
      p {
        width: 50%;
        display: inline-block;
        margin: 0;
        text-align: center;
        color: #666;
        
      }
    }
  }
  .rebate-list {
    ul {
      li {
        width: 100%;
        p {
          font-size: 1.4rem;
        }
        p:first-child {
          width: 55.5%;
        } 
        p:last-child {
          width: 32%;
        } 
      }
      li:nth-child(odd) {
        background-color: #fff;
      }
      li:nth-child(even) {
        background-color: #f8f9fb;
      }
    }
  }
  
}
.HOT {
  margin-top: 1.2rem;
  height: 1.3rem;
  line-height: 1.5rem;
  width: 2.6rem;
  background-color: red;
  font-size: 1.2rem;
  border-radius: 2px 2px 2px 0;
}