.setting {
  .content-main {
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    p:nth-child(1) {
      border-bottom: 0.1rem solid #d8d8d8;
      margin-bottom: 0;
    }
    p:nth-child(2) {
      margin-bottom: 0;
      span {
        float: right;
      }
    }
  }
}

.password {
  .wrap-title {
    height: 100px;
  }
  .title {
    bottom: 0;
    width: 100%;
    font-weight: bold;
  }
}

// 密码输入框
.pas-con {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

#pas {
  position: relative;
  width: 300px;
  height: 40px;
  text-indent: 20px;
  letter-spacing: 42px;
  background: transparent;
  color: transparent;
  margin: 0;
  border: 1px solid #9a9a9a;
  left: 50%;
  margin-left: -150px;
}

#pas:focus {
  outline: none;
}

#pas1 {
  position: relative;
  width: 300px;
  height: 40px;
  text-indent: 10px;
  letter-spacing: 2px;
  background: white;
  color: #000;
  margin: 0;
  border: 1px solid #9a9a9a;
  left: 50%;
  margin-left: -150px;
}

.wrap-sep {
  position: absolute;
  height: 45px;
  line-height: 45px;
  width: 100%;
  left: 50%;
  margin-left: -150px;
  span {
    border-right: 1px solid #9a9a9a;
    text-align: center;
    line-height: 35px;
    /*margin-left: 20px;*/
    width: 49px;
    height: 100%;
    float: left;
    background: #fff;
    font-size: 4rem;
  }
  span.last-item {
    border-right: none;
  }
}

.wrap-sep-1 {
  position: absolute;
  height: 45px;
  line-height: 45px;
  width: 100%;
  left: 50%;
  margin-left: -150px;
  span {
    border-right: 1px solid #9a9a9a;
    text-align: center;
    line-height: 45px;
    /*margin-left: 20px;*/
    width: 49px;
    height: 100%;
    float: left;
    background: #fff;
    font-size: 3rem;
  }
  span.last-item {
    border-right: none;
  }
}



