<div class="u-full-width padding-l-2 padding-r-2">
  <table class="account-tab1 u-full-width margin-t-2 margin-0 ft-1p6">
    <tr>
      <td class="border-grey padding-0p5 ft-grey1 padding-t-1 padding-b-1">
        <span class="u-pull-left padding-l-0p5">回款中项目&nbsp;</span>
        <span class="u-pull-left">
          <strong class="ft-orange">{{ investmentsStat.heldingCount }}</strong>
          &nbsp;个
        </span>
      </td>
      <td class="border-grey padding-0p5 ft-grey1">
        <span class="u-pull-left">已结清项目&nbsp;</span>
        <span class="u-pull-left">
          <strong class="ft-orange">{{ investmentsStat.endProfitCount }}</strong>
          &nbsp;个
        </span>
      </td>
    </tr>
  </table>
</div>