<!-- 我的现金券 -->
<section class="cash-body" auto-height>
  <!-- <div class="cash-header padding-l-2 padding-r-2 ft-white">
    <div class="header1 margin-t-1p5">
      <div class="pull-left">
        <img class="fl border-pull" ng-src="{{user.headImgUrl || userHeadImgUrl}}" alt="" class="border-pull avatar">
        <div class="fl margin-l-0p5" ng-show="userAuth.authStatus !== 2">
          <p class="display-inb">
            未认证用户
            <span class="authent" ng-click="toRealNameAuth()">去认证 <i class="fa fa-angle-right margin-l-0p5" aria-hidden="true"></i></span></p>
          <p class="">注册用户</p>
        </div>
        <div class="fl margin-t-1p2" ng-show="userAuth.authStatus === 2">
          <span class="ft-1p8 margin-l-1">{{ user.nickName || (user.mobile || user.name) }}</span>
        </div>
      </div>
      <div class="rule-top pull-right margin-t-0p5" ng-click="showRule()">使用规则 <i class="fa fa-info-circle" aria-hidden="true"></i></div>
    </div>
    <ul class="header2">
      <li class="pull-left">
        <p>可提现金券(元)</p>
        <p>{{cash.unGotAmount || 0 | number:2}}</p>
      </li>
      <li class="pull-right text-right">
        <p>已提现金券(元)</p>
        <p>{{cash.gotAmount || 0 | number:2}}</p>
      </li>
    </ul>
  </div> -->
  <ul class="cash-select margin-b-1p5">
    <li class="text-center margin-0" ng-class="{'active':status === 1}" ng-click="selectStat(1)">未使用</li>
    <li class="text-center margin-0" ng-class="{'active':status === 2}" ng-click="selectStat(2)">已使用</li>
  </ul>
  <!-- 未使用 -->
	<div class="outer-panel margin-b-1" ng-if="cashCouponsData && status === 1 && cashCoupons.length >0" ng-repeat="item in cashCoupons| orderBy : '-value' track by $index">
		<div>
  		<img src="/images/user-center/cash-coupon01.png">
  		<div class="inner-panel-left">
  			<p class="margin-b-0 top-margin ft-4"><small class="ft-1p6">￥</small>{{item.value}}</p>
  		</div>
  		<div class="inner-panel-center1">
  			<p class="margin-b-0">出借产品：{{ item.investProductType == 5 ? '宏财精选' : item.investProductType == 6 ? '宏财尊贵' : '宏财精选、宏财尊贵'}}</p>
  			<p class="margin-b-0">使用条件：出借&ge;{{item.minInvestAmount}}元</p>
  			<p class="margin-b-0">有效期：{{item.createTime | date :'yyyy.MM.dd'}}-{{item.endTime | date :'yyyy.MM.dd'}}</p>
  			<p class="withdraw margin-b-0 pull-right" ng-click="toProjectList(item.investProductType,$index)">马上使用</p>
  		</div>
		</div>
	</div>
	<!-- 已使用 -->
	<div class="outer-panel margin-b-1" ng-if="cashCouponsData && status === 2 && cashCoupons.length >0" ng-repeat="item in cashCoupons track by $index">
		<div>
  		<img src="/images/user-center/cash-coupon01.png">
  		<div class="inner-panel-left">
  			<p class="margin-b-0 top-margin ft-4"><small class="ft-1p6">￥</small>{{item.value}}</p>
  		</div>
  		<div class="inner-panel-center1">
  			<p class="margin-b-0"><span class="fl">出借项目：</span><span class="col-2">{{item.order.projectName}}</span></p>
  			<p class="margin-b-0">使用时间：{{item.usedTime | date: 'yyyy-MM-dd'}}</p>
  			<img class="received" src="/images/user-center/cash-coupon02.png" alt="">
  		</div>
		</div>
	</div>
	<!-- 未使用现金券  -->
  <!-- 暂无可提现现金券 & 还没有使用过-->
	<div class="no-cash margin-t-3 text-center" ng-show="cashCouponsData && (status === 1 || status === 2 ) && (!loading && (cashCoupons.length <= 0))">
		<img src="/images/user-center/cash-coupon03.png" alt="">
		<p ng-show="status === 1">暂无可使用现金券噢~</p>
     <!-- ng-click="toGet();" -->
		<p ng-show="status === 2">您还没有使用过现金券~</p>
	</div>
  <!-- 查看更多 -->
  <div class="margin-t-2 text-center" ng-show="(status===1 && unUseTotalPage > page) || (status ===2 && useTotalPage > page)" ng-click="loadMuch(status)"><i class="fa fa-list-ul ft-orange"></i>&nbsp;<span class="cursor-hand ft-black2 text-line">查看更多</span></div>
  <!-- 使用规则 -->
  <div ng-if="cashCouponsData" class="use-rule margin-t-1 margin-b-1 text-center" ng-click="showRule()">使用规则 <i class="fa fa-info-circle" aria-hidden="true"></i></div>
</section>
<div class="cash">
	<!-- 公用的弹框蒙层 -->
	<div class="rec-showmoney share-page-breakWishLayer position-ab width-100 height-100 position-re bg-grey0p5" ng-show="showRules">
	  <!-- 活动详情  弹出来需要去掉X号 -->
	  <section class="rec-act-rule rec-act-rule1 bg-white margin-l-1 margin-r-1 border-ra-0p5" ng-show="showRules">
	    <div class="rec-act-rule-title">
	      <p class="margin-l-1 padding-l-1  margin-b-0">现金券的使用规则：</p>
	    </div>
	    <div class=" rec-act-rule-btm margin-l-1 margin-r-1 ft-1p5 margin-t-0p5">
	        <div class="rule padding-r-1 padding-l-1 padding-b-1p5">
	          <p class="margin-t-0 margin-b-0">1、单笔出借达到对应额度时，使用对应现金券；</p>
	          <!-- <p class="margin-t-0 margin-b-0">2、每个账号每天只能使用一张现金券；</p> -->
	          <p class="margin-t-0 margin-b-0">2、每张现金券都有使用期限，需要在有效期内使用，过期作废；</p>
	          <p class="margin-t-0 margin-b-0">3、使用加息券出借时不可再使用现金券；</p>
	          <p class="margin-t-0 margin-b-0">4、相应现金券在出借成功后即可到账，请在"我的账户"中查看。</p>
	          <button class="rec-rule-btn button" ng-click="closeRule()">关闭页面</button>
	        </div>
	    </div>
	  </section>
	</div>
</div>
