<!-- <div class="project-mask">
  <div class="window-copy position-re bg-white margin-auto padding-t-1p5">
    <p class="position-ab bg-white text-center wid-close ft-3" ng-click="cancel()">×</p>
    <p class="margin-b-0 text-center">长按复制专属邀请码</p>
    <p class="copy-link-btn ft-white ft-1p2 text-center margin-auto margin-b-2 margin-t-1p5 copy-before">{{voucher.inviteCode}}</p>
    <p class="margin-b-0 text-center">长按复制专属链接</p>
    <p class="copy-link-btn ft-white ft-1p2 text-center margin-auto margin-b-2 margin-t-1p5 copy-before">hongcai.com/register?inviteCode={{voucher.inviteCode}}</p>
  </div>
</div> -->
<div class="project-mask">
  <div class="window-copy position-re bg-white margin-auto padding-t-1p5">
    <p class="position-ab bg-white text-center wid-close ft-3" ng-click="cancel()">×</p>
    <p class="ft-white ft-1p2 text-center margin-auto margin-b-2 margin-t-1p5">{{voucher.inviteCode}}</p>
    <p class="margin-b-0 text-center">长按复制专属邀请码</p>
    <p class="ft-white ft-1p2 text-center margin-auto margin-b-2 margin-t-1p5">hongcai.com/register?inviteCode={{voucher.inviteCode}}</p>
    <p class="text-center">长按复制专属链接</p>
  </div>
</div>
