<div class="project-mask realname-mask" auto-h>
  <div class="bg-white project-mask-inner" >
    <form autocomplete="on" id="realNameAuthForm" name="realNameAuthForm" class="margin-b-0">
      <p class="ft-grey2">身份认证</p>
      <p>
        <label for="">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label>
        <input id="realName" name="realName" type="text" ng-model="user.realName" placeholder="姓名" ng-disabled="!timeout" required>
      </p>
      <p>
        <label for="">身份证号：</label>
        <input id="idNo" name="idNo" type="text" ng-model="user.idNo" placeholder="身份证号码" ng-pattern="/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[012])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/i" ng-disabled="!timeout" required>
      </p>
      <p class="ft-red text-center margin-t-1 margin-b-1 ft-1p2">
        {{errMsg}}
      </p>
      <p class="project-mask-btn3">
        <span class="ft-grey2" ng-click="cancel()" my-click-once>取消</span>
        <span ng-disabled="realNameAuthForm.$invalid" ng-click="realNameAuth(user)" my-click-once ng-class="{'active-span': !realNameAuthForm.$invalid}">点击认证</span>
      </p>
    </form>
  </div>
</div>
