<div class="project-mask bg-grey0p8" ng-show="showActivateTip">
  <div class="activate-bank">
    <div class="activate-head">
      <img src="images/user-center/activate-bank-bg.png" alt="">
    </div>
    <div class="stop-tip">
      <p class="margin-b-0">宏财网正在接入海口联合农商银行资金存管系统</p>
      <p class="margin-b-0p5">暂停充值、出借、提现、认证、绑卡等服务,敬请知悉</p>
      <p class="margin-b-0">2017年6月29日上午11:00前恢复服务,感谢您的支持!</p>
       <div class="activate-btn text-center clearfix">
        <span class="ft-white iKnow" ng-click="cancel()">我知道了</span>
      </div>
    </div>
   
    <img src="images/user-center/activate-bank-close.png" class="position-ab close" ng-click="cancel()"></p>
  </div>
</div>