<div class="padding-l-2 padding-r-2 overflow-hid">
  <ul class="account-tab1 nav-ul columns border-blue border-ra-0p5 margin-t-2 margin-b-2  bg-white">
    <li class="column text-center margin-0 padding-t-0p5 padding-b-0p5 ft-blue {{selectedSide == 'account' ? 'active' : ''}}" ui-sref="root.userCenter.account-overview">我的账户</li>
    <li class="column text-center margin-0 padding-t-0p5 padding-b-0p5 ft-blue {{selectedSide == 'investments-stat' ? 'active' : ''}}" ui-sref="root.userCenter.investments-stat">我的出借</li>
  </ul>
</div>