<div class="website-notice-detail padding-l-1p5 padding-r-1p5">
	<div class="notice-title">
		<p class="text-center ft-1p8 margin-t-2 margin-b-2 ft-666">{{noticeDetail.title}}</p>
		<p class="ft-grey999 ft-1p3 text-center margin-b-2">{{noticeDetail.createTime | date: 'yyyy/MM/dd HH:mm:ss'}}</p>
		<div class="ft-grey999" ta-bind ng-model="noticeDetail.content">
			<!-- <p class="margin-b-1p2 ft-grey999">尊敬的用户：</p>
			<p class="margin-b-2 ft-grey999">
				宏财网平台的“首担担保推荐标2015090004”首期利息兑付日为2015年10月29日，该标融资金额为2,600,000.00元整，本期产生利息额为19,232.88元，已于今日准时完成利息兑付工作，如果您是这个项目的投资人，请查询您宏财网的资金回款情况，为了提高您资金的使用效率，欢迎您挑选认购宏财网的其它投资产品。
			</p> -->
		</div>
	</div>
</div>