<!-- 母亲节活动 -->
<div class="mothers-day">
	<!-- 头部header -->
	<div class="header">
		<div class="avtivity-time">活动时间:截至2017.5.13 24:00时</div>
		<img src="images/mothers-day/mothers-day-header01.png">
		<img src="images/mothers-day/mothers-day-header02.png">
		<img src="images/mothers-day/mothers-day-header03.png">
		<img src="images/mothers-day/mothers-day-header04.png">
		<img src="images/mothers-day/mothers-day-header05.png">
		<img src="images/mothers-day/mothers-day-header06.png">
		<img src="images/mothers-day/mothers-day-header07.png">
		<img src="images/mothers-day/mothers-day-header08.png">
		<img src="images/mothers-day/mothers-day-header09.png">
		<img src="images/mothers-day/mothers-day-header10.png">
		<img src="images/mothers-day/mothers-day-header11.png">
		<img src="images/mothers-day/mothers-day-header12.png">
		<img src="images/mothers-day/mothers-day-header13.png">
		<img src="images/mothers-day/mothers-day-header14.png">
		<img src="images/mothers-day/mothers-day-header15.png">
		<img src="images/mothers-day/mothers-day-header16.png">
		<img src="images/mothers-day/mothers-day-header17.png">
		<img src="images/mothers-day/mothers-day-header18.png">
		<img src="images/mothers-day/mothers-day-header19.png">
		<img src="images/mothers-day/mothers-day-header20.png">
	</div>
	<div class="rules-btn" ng-click="showBox();"></div>
	<div class="iosTip" ng-show="deviceCode === 5 || deviceCode === 6">该活动与设备生产商APPLE INC.公司无关</div>
</div>
<!-- 活动规则 -->
<div class="mothers-rules share-page-breakWishLayer" ng-show="showRules">
	<div class="rec-showmoney width-100 height-100 position-re bg-grey0p5" >
		<div class="box">
			<div class="rec-act-rule border-ra-0p5">
			   	<div class="rules">
			   		<p class="rule-title">1.活动时间</p>
			   		<p class="rule-content">本次活动截至2017年5月13日24:00时；</p>
			   	</div>
			   	<div class="rules">
			   		<p class="rule-title">2.参与方式</p>
			   		<p class="rule-content">活动截止前，用户新增投资宏财精选、宏财尊贵项目均可算在持有总资产内，购买的债权转让项目及已经成功转让的资产不参与此次活动；</p>
			   	</div>
			   	<div class="rules">
			   		<p class="rule-title">3.奖励说明</p>
			   		<p class="rule-content">特权本金是平台向用户提供的一种虚拟资金，用于回馈奖励等活动。其本身不可提现或用于投资，但享受8%年化收益率。根据不同的活动规则，特权本金具有不同的计息时长，每日计息产生的收益直接发放至用户可用余额，可用于提现或投资；</p>
			   	</div>
			   	<div class="rules">
			   		<p class="rule-title">4.在法律规定范围内，平台保留本活动最终解释权；</p>
			   	</div>
			   	<div class="rules">
			   		<p class="rule-title">5.如有更多相关问题，可致电详询</p>
			   		<p class="rule-content">客服电话：400-990-7626 <br> 服务时间：工作日9:00-18:00</p>
			   	</div>
		  </div>
		</div>
		<div class="close-rule" ng-click="showBox();"></div>
	</div>
</div>