<div class="new-year-novice">
	<div class="newact1">
		<img src="/images/newact/newact_01.png" width="100%" class="display-bl">
	</div>
	<div class="newact2 position-re">
		<img src="/images/newact/newact_02.png" width="100%" class="display-bl">
		<p class="position-ab text-center act-time">2017年1月15日——2017年3月15日</p>
	</div>
	<div class="newact3">
		<img src="/images/newact/newact_03.png" width="100%" class="display-bl">
	</div>
	<div class="newact4">
		<img src="/images/newact/newact_04.png" width="100%" class="display-bl">
	</div>
	<div class="newact5">
		<img src="/images/newact/newact_05.png" width="100%" class="display-bl">
	</div>
	<div class="newact6">
		<img src="/images/newact/newact_06.png" width="100%" class="display-bl">
	</div>
	<div class="newact7">
		<img src="/images/newact/newact_07.png" width="100%" class="display-bl">
	</div>
	<div class="newact8 position-re">
		<img src="/images/newact/newact_08.png" width="100%" class="display-bl">
		<p id="newact-btn"  ng-click="toReceive();"></p>
	</div>
	<div class="newact9">
		<img src="/images/newact/newact_09.jpg" width="100%" class="display-bl">
	</div>
	<div class="newact10">
		<img src="/images/newact/newact_10.jpg" width="100%" class="display-bl">
	</div>

</div>