<div class="new-year-invite">
	<div>
		<img src="/images/newact/newinvite_01.png" class="display-bl" width="100%">
	</div>
	<div class="position-re">
		<p class="ft-white position-ab act-time">2017年1月15日——2017年3月15日</p>
		<img src="/images/newact/newinvite_02.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_03.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_04.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_05.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_06.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_07.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_08.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_09.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_10.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_11.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_12.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_13.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_14.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_15.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_16.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/newact/newinvite_17.png" class="display-bl" width="100%">
	</div>
	<div class="position-re">
		<p  class="newinvite-btn" ng-click="toInvite();"></p>
		<img src="/images/newact/newinvite_18.png" class="display-bl" width="100%">
	</div>

</div>