<!-- 开通银行资金存管系统落地页 -->
<div class="activate-lading margin-b-5">
  <div>
    <img src="/images/new/head.jpg" width="100%">
  </div>
  <div class="section2">
    <img src="/images/new/members.png" width="27%" height="20%" class="display-inb">
    <div class="fr ft-1p4 wid-71 ft-1p2">
      <p class="ft-1p6 ft-blue0 ft-bold">北京网贷“银行资金存管系统”平台首批成员</p>
      <p class="margin-b-0">海口联合农商银行，是北京市网贷行业协会懒猫联银联手打造的风险监控与资金存管系统。宏财网首批完成银行资金存管系统接入工作，标志着宏财网的实力和规范运营获得了主管部门的认可。</p>
    </div>
  </div>
  <div class="section2">
    <div class="display-inb margin-b-1p5 ft-1p4 wid-63 ft-1p2">
      <p class="ft-1p6 ft-blue0 ft-bold">资金全面隔离至银行系统</p>
      <p class="margin-b-0">海口联合农商银行实现了用户资金与平台资金的全面隔离，用户的每笔投资行为均需由用户发起交易指令，银行按照指令进行资金划转，有效地避免了被平台任意挪用的风险，资金运作更加安全可靠。</p>
    </div>
    <img src="/images/new/fund.png" width="35%" height="20%" class="fr">
  </div>
  <div class="section2">
    <img src="/images/new/bag.png" width="27%" height="20%" class="display-inb">
    <div class="fr ft-1p4 wid-71 ft-1p2">
      <p class="ft-1p6 ft-blue0 ft-bold">"1+3+N"模式的风险监控</p>
      <p class="margin-b-0">银行资金存管系统“1+3+N”模式中的 “1”是指网贷行业协会，“3”是指产品登记、资金存管和信息披露三项，“N”是指成立N个专业委员会，包括法律、技术、风控、产品、宣传等。海口联合农商银行是目前国内最为成熟的网贷平台风险监控及资金存管服务的解决方案。</p>
    </div>
  </div>
  <div class="section2 text-center" ng-hide="isLogged && userAuth.active === true">
    <button class="btn activate-btn ft-2p5 margin-auto display-bl ft-white ft-bold" ng-click="toOpen()">立即开通</button>
    <p class="cue margin-b-0 margin-t-1">您的账户已经升级为北京网贷资金存管账户，</p>
    <p class="cue margin-b-1">请点击上方按钮立即开通。</p>
  </div>
  <div class="section2 text-center">
    <img src="/images/new/flow.png" class="display-bl margin-t-1 margin-b-1" width="100%">
  </div>
</div>
