<div class="bind-status" auto-h>
	<!-- 绑定成功 -->
	<div class="bind-success" ng-if="status === 0">
		<div class="text-center position-re">
			<img src="/images/bind-wechat/red-bag.png" alt="" class="display-inb position-ab red-bag" width="10%">
			<img src="/images/bind-wechat/hc-baby.png" alt="" class="display-inb hc-baby" width="24%">
		</div>
		<img src="/images/bind-wechat/bind-success.png" alt="" class="display-bl hc-baby-speek" width="67%">
		<p class="text-center bind-success-tip margin-t-1 margin-b-0">&nbsp;&nbsp;&nbsp;2888 元特权本金收入荷包！</p>
		<p class="text-center bind-success-tip2 ft-1p2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置顶宏财宝宝公众号，还有好礼送不停！</p>
	</div>
	<!-- 已绑定 -->
	<div class="binded position-re clearfix" ng-if="status === 1">
		<img src="/images/bind-wechat/red-bag.png" alt="" class="display-bl margin-l-2" width="11%">
		<img src="/images/bind-wechat/binded.png" alt="" class="display-bl position-ab" width="50%">
		<img src="/images/bind-wechat/hc-baby2.png" alt="" class="display-bl" width="21%">
		<p class="text-center ft-1p2">贪多容易长肉肉哦！</p>
	</div>
</div>