<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,mininum-scale=1,maximum-scale=1">
  <title>新用户开通流程</title>
  <style>
    body {
      max-width: 640px;
      height: 100%;
      margin: 0 auto;
      font-size: 1.5em;
      font-weight: 400;
    }
    html {
      font-size: 62.5%;
    }
    .newUserProcess img {
      width: 100%;
      vertical-align: top;
    }
  </style>
</head>
<div class="newUserProcess">
  <img src="/images/bank-deposits/newUserProcess01.png" alt="">
  <img src="/images/bank-deposits/newUserProcess02.png" alt="">
  <img src="/images/bank-deposits/newUserProcess03.png" alt="">
  <img src="/images/bank-deposits/newUserProcess04.png" alt="">
  <img src="/images/bank-deposits/newUserProcess05.png" alt="">
  <img src="/images/bank-deposits/newUserProcess06.png" alt="">
  <img src="/images/bank-deposits/newUserProcess07.png" alt="">
  <img src="/images/bank-deposits/newUserProcess08.png" alt="">
  <img src="/images/bank-deposits/newUserProcess09.png" alt="">
  <img src="/images/bank-deposits/newUserProcess10.png" alt="">
  <img src="/images/bank-deposits/newUserProcess11.png" alt="">
  <img src="/images/bank-deposits/newUserProcess12.png" alt="">
  <img src="/images/bank-deposits/newUserProcess13.png" alt="">
  <img src="/images/bank-deposits/newUserProcess14.png" alt="">
  <img src="/images/bank-deposits/newUserProcess15.png" alt="">
  <img src="/images/bank-deposits/newUserProcess16.png" alt="">
  <img src="/images/bank-deposits/newUserProcess17.png" alt="">
  <img src="/images/bank-deposits/newUserProcess18.png" alt="">
  <img src="/images/bank-deposits/newUserProcess19.png" alt="">
  <img src="/images/bank-deposits/newUserProcess20.png" alt="">
</div>