<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,mininum-scale=1,maximum-scale=1">
  <title>老用户开通流程</title>
  <style>
    body {
      max-width: 640px;
      height: 100%;
      margin: 0 auto;
      font-size: 1.5em;
      font-weight: 400;
    }
    html {
      font-size: 62.5%;
    }
    .oldUserProcess img {
      width: 100%;
      vertical-align: top;
    }
  </style>
</head>
<div class="oldUserProcess">
  <img src="/images/bank-deposits/oldUserProcess01.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess02.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess03.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess04.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess05.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess06.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess07.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess08.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess09.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess10.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess11.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess12.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess13.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess14.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess15.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess16.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess17.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess18.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess19.png" alt="">
  <img src="/images/bank-deposits/oldUserProcess20.png" alt="">
</div>